.videos-container{
    margin: 0 auto;
    text-align: center;
    margin-top: 15em;
}


.vidoes-wrapper{
    display: flex;
    justify-content: center;
    gap: 25px;
    margin:4em;
}

.videos-image{
max-width: 100%;
}
.videos-wallpaper-text{
    position: absolute;
    width: 100%;
    margin-left: -50%;
}

.see-more{
    display: flex;
    margin-top: -3em;
    margin-left: 90%;
    gap: 10px;
}

@media only screen and (max-width: 1300px) {
    .videos-image{
        width: 50%;
        }
}