.header-top {
  position: fixed;
  top: 8%; 
  left: 50%; 
  transform: translate(-50%, -50%); /* Adjust transform values for correct centering */
  display: flex;
  justify-content: center; 
  align-items: center; 
  z-index: 3;
  background: #0a262f;
  width: 100%; 
  gap: 12em;
  padding: 20px;
}




.header-content {
  display: flex;
  margin-top: 12em;
}

.header-text {
  margin-top: 8em;
  margin-left: 4em;
}

h1 {
  font-size: clamp(
    2em,
    5vw + 1em,
    8em
  ); /* Minimum 2em, scales with viewport width, max 8em */
  color: #a2e777;
  font-weight: 900;
  line-height: 154.91px;
}

.header-description {
  font-size: 20px;
  font-weight: 400;
  line-height: 24px;
  width:60%;
}

.header-image {
  display: flex;
}

.header-image1 {
  position: absolute;
  margin-left: -11em;
  margin-top: -6em;
  z-index: 1;
}



.header-wallpaper {
  position: absolute;
  width: 90%;
  object-fit: cover;
  top: 0;
  z-index: -1;

  margin-top: 0em;
  opacity: 5%;
  max-height: 100%;
}

.header-wallpaper-text {
  position: absolute;
  margin-top: 4em;
  width: 100%;
  margin-left: -7em;
  margin-top: 8em;
}

.cursor {
  display: inline-block;
  opacity: 1;
  font-weight: bold;
}
.letter {
  opacity: 0;
  display: inline-block;
}

@media only screen and (max-width: 1000px) {
  .header-top {
    gap: 5em;
  }
  
}

@media only screen and (max-width: 800px) {
  .header-top {
    gap: 3em;
  }

  .header-image1{
    max-width: 50%;
  }
  .header-image2{
  display: none;
  }

  .header-image1 {
    position: absolute;
    margin-left: -23em;
    margin-top: -6em;
    z-index: 1;
  }

  .header-text {
    margin-top: 8em;
    margin-left: 1em;
  }
  .header-content {
    display: flex;
    margin-top:8em;
  }

  .header-wallpaper-text {
    margin-top: 4em;
  }
  
}
